doctype html
html
  head
    include ./head

  body
    div.warp
      div.header
        ul.list_inline
          li
            span
              a(href="login") 登陆
          li
            span
              a(href="signup") 注册
          li
            span
              a(href="#") 我的订单
          li
            span
              a(href="#") 购物车
          li
            span
              a(href="#") 客服中心

      block content
      include ./footer


