doctype html
html
  head
    include ./head

  body
    div.warp
      div.header
        ul.list_inline
          else
            li
              span 欢迎您 {#user.username}

            li
              span
                a(href="logout") 登出

          if user
            li
              span
                a(href="login") 登陆
            li
              span
                a(href="signup") 注册


      block content
      include ./footer


