doctype html
html
	head
		include ./head
	body
	.container.contentTop
		.row
			.col-md-4
				form(method="POST", action="/login")
					h2 登陆
					.form-group
						label(for="loginName") 用户名
						input#signupName.form-control(name="user[username]", type="text")
					.form-group
						label(for="loginPassword") 密码
						input#signupPassword.form-control(name="user[password]", type="text")
					.text-center
						button.btn.btn-primary(type="submit") 提交

					div( id="login_b")
						a 忘记密码
						a 还不是会员
						a(class="btn btn-primary btn-xs" href="signup") 免费注册


		include ./footer
		//
			script.
				function login(){
					var username = $('#username').val();
					var password = $('#password').val();
					var data = {"username":username,"password":password};
					$.ajax({
					url:'login',
					type:'post',
					data:data,
					success:function(data,status){
					if(status == 'success'){
					location.href='home';

					}

					},
					error:function(data,status,e){
					if(status == "error"){
					location.href='login';
						alert("登陆失败！");


					}
					}
					});
				}
