
extends layout
block content
	h1= title
	form(action="/login"  role="form" method="post" style="margin-left:20px;")
	input(id="username" type="text" name="username" style="margin: 20px 0px;")
	br
	input(id="password" type="text" name="password" style="margin: 20px 0px;")
	br
	input(type="button" onclick="login();" value="登陆" class="btn btn-primary")

	script.
		function login(){
			var username = $('#username').val();
			var password = $('#password').val();
			var data = {"username":username,"password":password};
			$.ajax({
			url:'login',
			type:'POST',
			data:data,
			success:function(data,status){
			if(status == 'success'){
			location.href='home';

			}

			},
			error:function(data,status,e){
			if(status == "error"){
			location.href='login';
				alert("登陆失败");


			}
			}
			});
		}
