extends layout
block content
	form(method="POST", action="/post")
		.form-group
			label(for="post[title]") 标题
			input#postTitle.form-control(name="post[title]", type="text",placeholder='标题')
		.form-group
			label(for="post[content]") 正文
			textarea#postContent.form-control(name="post[content]", row='3',placeholder="正文")
		.text-center
			button.btn.btn-primary(type="submit") 提交

