body,ul,li,a,img{
    padding:0;
    margin: 0;
}
html{

}
body {
    color:#333 !important;
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", "微软雅黑" !important;

}

a {
  color: #00B7FF;
}
.warp{

    margin: 0 auto;

}
.float_left{
    float: left;
}
.float_right{
    float:right;
}
.list_inline{margin:0 !important;}
ul li{
    list-style: none;

}
.list_inline li{
    display: inline-block;
}
/*  index.jade   */


.header{
    width:100%;
    background-color: #F2F2F2;



}
.header ul{
  width:1200px;
  float: left;
  text-align: right;
}
.header::after{
    display: block;
    content: '';
    clear:both;
}
.header li{
    text-align: center;
    padding:8px 0;



}
.header li span{

    border-right: solid 1px #DDDDDD;
    padding:0 25px;
}
.header_mid{
    padding: 10px;
    width: 1200px;
    margin: 0 auto;
}


/*----------搜索框----------------------------------*/
#nav_search_form{
    outline: 1px solid #3A3A3A;
    width: 500px;
    margin: 10px auto;

}
.no_outline{
outline: none;
}
#nav_search_form form{
    height:33px;
}
#nav_search_form select{
    float: left;
    height: 33px;
    width:70px;
    border: none;
}
#nav_search_form input:first-child{
    border: none;
    width:360px;
    padding: 6px;
}
.ts_btn{
    border: none;
    height: 33px;
    width:70px;
    padding: 6px;
    background-color: #3A3A3A;
    color: #ffffff;
;
}



/*-----------------------------login-------------------------------------------*/

.load_content{
    width:700px;
    height:auto;
    padding:20px;
    margin: 80px 200px;
}
.img_load{
    padding:10px;
}
.form_style{
   position: absolute;
    top:110px;
    left:720px;
    outline: 1px solid #DDDDDD;
}

#form_title{
    width: 350px;
    display: block;
    text-align: center;
    font-weight: 800;
    font-size: 16px;
    border-bottom:1px dashed #C1C1C1;
    padding:10px;


}
.form_style form{
   padding:20px 10px;
    width: 350px;
    height:auto;

}
.form_style form input{
    margin:15px;
    width: 300px;
}

#login_b{
    margin:50px 15px 20px 15px;
    width: 300px;
}
#login_b a{
    margin: 0 1px;
}
#login_b a:first-child{
    margin-right: 100px;
}


